<div id="<%= dom_id user %>">
  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Otp:</strong>
    <%= user.otp %>
  </p>

  <p>
    <strong>Otp created at:</strong>
    <%= user.otp_created_at %>
  </p>

  <p>
    <strong>Otp confirmed at:</strong>
    <%= user.otp_confirmed_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

</div>
